fastapi
uvicorn
pydantic
python-multipart

streamlit

azure-identity
azure-storage-blob
azure-search-documents

openai

langchain
langchain-openai
langchain-community

tiktoken

pymupdf
python-docx
openpyxl

pandas
numpy

python-dotenv

pytest
